.header {
  background-color: #4682B4;
  color: #FF7F50;
  text-align: center;
}

.main {
  background-color: #DCDCDC;
  padding: 1em;
  margin-top: 500px;
}

body {
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0;
  background-color: #A52A2A;
}
